@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}
/* Dark mode variables */
:root.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
}
@theme {
  /* Brand colors */
  --color-primary: #038C7F;
  --color-secondary: #F2C641;
  --color-tertiary-dark: #F27405;
  --color-tertiary-light: #F2C641;


  /* Font Family */
  --font-family-montserrat: var(--font-montserrat); 
  
  --dark-mode: class;
}

@media (prefers-color-scheme: light ) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* Hover Animation */
.img{
  @apply object-cover w-full h-full;
}
.scale-animation {
  @apply hover:scale-125 transition-all duration-700;
}

body {
  background: var(--background);
  color: var(--foreground) ;
  font-family: var(--font-montserrat, sans-serif);
}
 
