@import "tailwindcss";


/* Light mode colors (default) */
:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* Dark mode colors (when .dark class is present) */
:root.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
}

@theme {
  /* Brand colors */
  --color-primary: #038C7F;
  --color-secondary: #F2C641;
  --color-tertiary-dark: #F27405;
  --color-tertiary-light: #F2C641;

  /* Font Family */
  --font-family-montserrat: var(--font-montserrat); 
  
  /* Enable class-based dark mode */
  --dark-mode: class;
}

/* Hover Animation */
.img{
  @apply object-cover w-full h-full;
}
.scale-animation {
  @apply hover:scale-125 transition-all duration-700;
}

/* Get Started Button */
.btn-primary {
  @apply px-6 md:px-[50px] lg:px-[72px] py-2 md:py-5 bg-primary rounded-lg md:rounded-2xl shadow-sm shadow-primary text-white font-bold text-base md:text-xl hover:scale-110 duration-300 transition-all;
}
.btn-tertiary {
  @apply px-6 md:px-[50px] lg:px-[72px] py-2 md:py-5 bg-tertiary-light rounded-lg md:rounded-2xl shadow-sm shadow-tertiary-light text-white font-bold text-base md:text-xl hover:scale-110 duration-300 transition-all;
}

/* Main Header */
.font-heading {
  @apply font-medium md:font-semibold md:text-6xl text-3xl;
}
.font-normal {
  @apply text-sm md:text-base;
}

body {
  background: var(--background);
  color: var(--foreground) ;
  font-family: var(--font-montserrat, sans-serif);
}
 
